{% extends 'base.html.twig' %}

{% block body %}
    <h1>Console</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ console.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ console.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ console.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ console.description }}</td>
            </tr>
            <tr>
                <th>Datesortie</th>
                <td>{{ console.dateSortie |date('Y/m/d')}}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('console_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('console_edit', { 'id': console.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
