{% extends '@Entity/indexBack.html.twig' %}
{% block BodyBack %}

    <div class="col-md-12 col-sm-12 col-xs-12, center-margin ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Tournois</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nom Tournoi</th>
                    <th>Nom Jeu</th>
                    <th>Nombre Max</th>
                    <th>Date Debut</th>
                    <th>Date Fin</th>
                    <td align="center"><i class="fa fa-arrow-down"></i></td>

                </tr>
                </thead>
                <tbody>
                {% for tournoi in tournois %}
                <tr>

                    <td>{{ tournoi.id }}</td>
                    <td>{{ tournoi.nom }}</td>
                    <td>{{ tournoi.nomJeu }}</td>
                    <td>{{ tournoi.nbrMax }}</td>
                    <td>{{ tournoi.datedebut|date('Y/m/d') }}</td>
                    <td>{{ tournoi.datefin|date('Y/m/d') }}</td>

                    <td align="center">
                        <a href="{{ path('tournoi_delete',{'id':tournoi.id}) }}"> <span
                                    class="fa fa-trash"></span></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ path('tournoi_edit',{'id':tournoi.id}) }}"> <span
                                    class="fa fa-pencil-square-o" ></span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>



{% endblock %}