

        {% extends '@Entity/index2.html.twig' %}
{% block titreImage %}
<div class="nk-main">
    <!-- START: Header Title --><!--
            Additional Classes:
                .nk-header-title-sm
                .nk-header-title-md
                .nk-header-title-lg
                .nk-header-title-xl
                .nk-header-title-full
                .nk-header-title-parallax
                .nk-header-title-parallax-opacity
                .nk-header-title-boxed
            -->

    <div class="nk-header-title nk-header-title-lg nk-header-title-parallax-opacity">
        <div class="bg-image">
            <div style="background-image: url({{ asset('bundles/assets/images/image-1.jpg') }}"></div>
        </div>

        <div class="nk-header-table">
            <div class="nk-header-table-cell">
                <div class="container">
                    <div class="nk-header-text">
                        <h1 class="nk-title display-3">Nos Store! </h1>
                        <div class="nk-gap-2"></div>


                        <div class="nk-gap-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


{% block Body %}
<div class="nk-box">
    <div class="nk-gap-4"></div>

    <div class="container">

        <div class="row vertical-gap lg-gap">
        {% for store in stores %}

            <div class="col-md-6">

                <blockquote class="nk-testimonial-2">

                    <div class="nk-testimonial-photo" name="{{ store.id }}" style="background-image: url({{ asset('/uploads/Images/Stores/' ~ store.imageName) }}"></div>
                    <div class="nk-testimonial-photo"></div>
                    <div class="nk-testimonial-name h1"><em><a href={{ path('produit_show',{'id':store.id}) }}> {{ store.nom }}</a></em> </div>
                    <div class="nk-testimonial-body">{{ store.description }}</div>
                    <div class="nk-testimonial-source">Telephone: {{ user.tel}} </div>
                    <div class="nk-testimonial-source">Adresse: {{ store.country }}, {{ store.city }} </div>
{{ facebookButton()}}
                </blockquote>

            </div>

  {% endfor %}
        </div>


    </div>

    <div class="nk-gap-4"></div>
    <div class="nk-gap-4"></div>
</div>
{% endblock %}