{% extends '@Entity/indexBack.html.twig' %}
{% block BodyBack %}
    <!DOCTYPE html>

    <head>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
            #map-canvas { width: 730px; height: 500px; margin: 0 auto;  }

        </style>

    </head>
<body>

        <!-- page content -->

        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Evenement <small>Liste des Evenements</small></h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Table <small>des evenements</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom</th>
                                        <th>Description</th>
                                        <th>Adresse</th>
                                        <th>Date Debut</th>
                                        <th>Date Fin</th>
                                        <th>Actions</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for evenement in evenements %}
                                    <tr>


                                            <td>{{ evenement.id }}</td>
                                            <td>{{ evenement.nom }}</td>
                                        <td>{{ evenement.description }}</td>
                                        <td>{{ evenement.adresse }}</td>
                                        <td>{{ evenement.datedebut |date('Y/m/d') }}</td>
                                        <td>{{ evenement.datefin |date('Y/m/d') }}</td>
                                        <td>


                                           &nbsp;&nbsp; <a href="{{ path('evenement_delete',{'id':evenement.id}) }}"> <span
                                                        class="fa fa-trash"></span></a>
                                            &nbsp;&nbsp;
                                            <a href="{{ path('evenement_edit',{'id':evenement.id}) }}"> <span
                                                        class="fa fa-pencil-square-o" ></span></a>
                                        </td>


                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div id="map-canvas"/>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5v94FfbGgY5zJe4CBLkb7-yVmJk87OrA&libraries=places&callback=initAutocomplete"
                                async defer></script>
                        <script type="text/javascript">

                            function initialize() {
                                var mapOptions = {
                                    center: new google.maps.LatLng(45.75, 4.85),
                                    zoom: 13,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                };
                                var map = new google.maps.Map(document.getElementById("map-canvas"),
                                    mapOptions);
                            }
                            google.maps.event.addDomListener(window, 'load', initialize);
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <!-- /page content -->

        <!-- footer content -->

        <!-- /footer content -->
    </div>
</div>


</body>
    </html>
{% endblock %}